body{
    margin: 0
}
.container{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.navbar-wrapper{
    background: black;
    padding: 5px;

}
#NavLink{
    color: White;

}
.navbar{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-family: sans-serif;
}